iframe{
    height: 200px;
    overflow: hidden;
}
.reply{
    background-color: rgb(226, 219, 202);
    width: 300px;
    border-style: groove;
    border-radius: 10px;
    border: 1px solid rgb(175, 169, 169);
}
.icon-cont{
    background-color: rgb(10, 106, 119);
}
.navbar{
    background-color: rgb(10, 106, 119);

}
.last{
    background-color: rgb(226, 219, 202);

}
li{
    margin: 20px 0;
    text-transform: capitalize;
}
.btn2{
    margin-right: 20px;
    border: none;
}
.p{
    font-size: 15px;
}
.logo-c{
    width: 10%;
}
h3{
    font-size: 12px;
}
.logo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100px;

}
.nav{
    height: 80px;
}
a{
    text-decoration: none;
}
.name{
    color: rgb(10, 106, 119);

}
.skills{
    width: 300px;
    border-style: groove;
    border-radius: 10px;
    border: 1px solid rgb(175, 169, 169);
}
.my-skills{
    background-color: rgb(226, 219, 202);
}
h2{
text-transform: capitalize;
color: rgb(10, 106, 119);
font-size: 15apx;
}
svg{
    height: 50px;
    width: 50px;
    color: white;
}
.footer-icon{
    display: flex;
    margin: 5px 0px;


}
.footer-icon svg{
    width: 17px;
    height: 17px;
    margin: 7px 0px;
    color: black;
}   
